@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

.App {
  height: 100vh;
  width: 100%;
  margin:0;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  min-width: 325px;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
}

.Card {
  background-color: hsl(216, 50%, 16%);
  width: 275px;
  height: 495px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.418);
  display: flex;
  flex-direction: column;
}


.NFT_Container {
  display: flex;
  justify-content: center;
}

#NFT {
  width: 270px;
  height: 250px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content h3 {
  color: hsl(0, 0%, 100%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.849);
}

.info {
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95px;
}

#ethereum {
  font-weight: bold;
  /* font-weight: 500; */
}

.footer {
  border-top: .5px solid hsl(215, 32%, 27%);
  display: flex;
  align-items: center;
  gap: 10px
}

span {
  color: hsla(0, 0%, 100%, 0.849);
  font-weight: bold;
}

.footer img {
  width: 30px;
  height: 30px;
  border: 1px solid white ;
  border-radius: 50%;
}